/* #Back {
    border: 1px solid;;
    ;
    background-position: center;
} */

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/background.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat
}

h1,h2,h4 {
    color: aliceblue;
}
