{% extends "base.html"%}

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('src', filename='css/styles.css') }}">
    {% endblock %}

    {% block body %}
    <nav>
        <h4>FilmNow</h4>
        <h4>Inicio</h4>
        <h4>Categoria</h4>
        <h4>Filmes</h4>
        <h4>Login/Cadastro</h4>
        <h4>LISTA</h4>
        <h4>Profile</h4>
    </nav>
    
    <h1 id="text"> O melhor do cinema, sem sair de casa.</h1>
    <h2>Assista todos os filmes com apenas sua inscrição em nosso site!</h2>
    {% endblock %}



